.dashboard {
    width: 90%;
    margin: auto;
}



.actions p {
    font-size: .9rem;
    color: var(--grey-color);
}


.empty_jobs {
    margin: auto;
    width: fit-content;
    text-align: center;
    padding: 1rem;
    background: var(--secondary-fade);
}

.empty_jobs a {
    color: var(--primary-color);
}